.header {
	color: white;
	display: flex;
	align-items: center;
	justify-content: space-between;
	background-color: #4d4646;
	padding: 0.3em;

	.logo {
		position: relative;
		font-size: 2rem;
		color: #7fcd91;
		padding: 0.4em;
	}
	.searchBar {
		padding: 0.7em;
	}
	.searchInput {
        width: 80%;
		background-color: #5b5656;
		padding: 0.6em;
		border-radius: 6px;
		border: none;
	}
	button {
		position: relative;
		background-color: #7fcd91;
		border: none;
		border-radius: 6px;
		padding: 0.6em;
		margin-left: 3px;
		cursor: pointer;
        transition: background-color .3s;

		i {
			color: White;
		}

		&:focus,
		&:hover {
			outline: #7fcd91;
			;
		}
	}
}
@media (min-width: 768px) {
	.header {
		padding-left: 2em;
		.searchBar {
			width: 50%;
		}
		.searchInput {
			width: 90%;
		}

		.sideContainer {
			margin-right: 1em;
			button {
				font-size: 2rem;
				background-color: #4d4646;
				&:hover, &:focus {
					background-color: #64ad75;
				}
			}
		}
	}
}
