
.nav {
    position: fixed;
    width: 80%;
    height: 100svh;
    background-color: #4d4646;
    font-weight: bold;
    list-style: none;
    color: #f5eaea;
    animation: nav .5s forwards;
    padding: 0 1em;
    overflow-y: auto;
	max-height: 100svh;
	top: 0;
	z-index: 10;

	.navItem {
		padding: 1em;
		cursor: pointer;
		transition: color 0.3s;
		list-style: none;
		&:focus,
		&:hover {
			color: #7fcd91;
		}
	}
	.menuItem {
		list-style: none;
		padding: 1em;
		cursor: pointer;
		&:focus,
		&:hover {
			color: #7fcd91;
		}
	}
	.dropdown {
		li {
			&:focus,
			&hover {
				color: #7fcd91;
			}
		}
	}
}

@media(min-width:768px) {
	.nav {
		display: none;
	}
}

@keyframes nav {
    from {
        left: -50%;
    }
    to {
        left: 0;
    }
}
