.slider {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #4d4646;
	width: 100%;
	height: 100%;
	color: #f5eaea;
	padding: 2em;
}

.carousel {
	display: flex;
	gap: 1rem;
	width: 80%;
	max-width: 80%;
	overflow: hidden;
	scroll-behavior: smooth;
}

.prevButton,
.nextButton {
	margin: 1em;
	padding: 0.5em 1em;
	background-color: #7fcd91;
	color: #fff;
	border: none;
	cursor: pointer;
}
